build/*
!build/clearImg.comp
!build/clearImg.spv
!build/imageBase.comp
!build/imageBase.spv
!build/pathTracing.comp
!build/pathTracing.spv
!build/render.glsl
src/GLFW/src/glfw.dir
*.vcxproj
*.sln
*.cmake
*.vcxproj.filters
*.stamp
*.stamp.depend
src/GLFW/src/Debug
src/GLFW/src/Release
src/GLFW/src/*.pc


